apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels: 
      app: {{ .Chart.Name }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels: 
        app: {{ .Chart.Name }}
    spec:
      terminationGracePeriodSeconds: 30
      imagePullSecrets:
        - name: {{ .Values.image.imagePullSecret }}
      
      # --- NO INIT CONTAINER NEEDED FOR FRONTEND ---

      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
              name: http
          # Keep env just in case, but it will be empty based on values.yaml
          env: {{- toYaml .Values.appEnv | nindent 12 }}
          
          # --- NO VOLUME MOUNTS NEEDED ---

          lifecycle:
            preStop:
              exec:
                command: ["sh","-c","sleep 5"]

      # --- NO VOLUMES NEEDED ---