{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  # DYNAMIC NAME: Becomes "wanthave-frontend"
  name: {{ .Chart.Name }}
  namespace: {{ .Values.namespace }}
  annotations:
    # No cookies needed for static frontend
    nginx.ingress.kubernetes.io/proxy-body-size: "20m"
    
    {{- if and .Values.ingress.tls.enabled .Values.ingress.tls.clusterIssuer }}
    cert-manager.io/cluster-issuer: {{ .Values.ingress.tls.clusterIssuer }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                # DYNAMIC SERVICE NAME
                name: {{ .Chart.Name }}
                port:
                  number: {{ .Values.service.port }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts: [ {{ .Values.ingress.host | quote }} ]
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
{{- end }}