name: CI Pipeline

on:
  push:
    branches: [ main, dev ]

jobs:
  frontend-build:
    runs-on: [self-hosted, Linux, k8s] # Dein neuer Runner erkennt diese Labels
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to FH Registry
        uses: docker/login-action@v3
        with:
          registry: registry.kub2.fh-joanneum.at
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and Push Angular Frontend
        run: |
          TAG=${{ github.ref_name }}
          # Build-Kontext ist der Ordner des Frontends
          docker build -t registry.kub2.fh-joanneum.at/want-have/frontend:$TAG -f wantHave_frontend/Dockerfile wantHave_frontend/
          docker push registry.kub2.fh-joanneum.at/want-have/frontend:$TAG